@import "~bootstrap/dist/css/bootstrap.css";

  .form {
    border: 1px solid #c1c1c1;
    border-radius: 5px;
    padding: 25px;
  }

  .header {
    font-size: 28px;
    background-color: burlywood;
    color: #fff;
    padding-top: 25px;
    padding-bottom: 25px;
    text-align: center;
    margin-bottom: 25px;
  }
  
  .container {
    width: 600px;
    margin: 25px Auto;
    background-color: rgb(245, 245, 245);
    padding: 25px;
    border-radius: 10px;
    box-sizing: border-box;
  }

.input {
  display: inline-block;
  width: 50%;
  margin-left: 20px;
  &.merge-btn {
    width: 48%;
    margin-left: 0;
    &:first-of-type {
      margin-right: 4%;
    }
  }
  &.full-btn {
    width: 100%;
    margin-top: 10px;
    margin-left: 0;
  }
}