<header class="header">
  map switchMap mergeMap
</header>
<main class="container form">
  <section class="">
    <form action="" class="form form-group">
      <h5><b>Map</b> - Display next 6 numbers to the power.</h5>
      <hr>
      <input class="btn btn-primary" type="button" value="Map!" (click)="onMapBtnClick()">
      <input class="form-control input" type="text" [value]="mapInput">
    </form>
  </section>
  <section class="">
    <form action="" class="form form-group">
      <h5><b>concatMap</b> - Display next 6 numbers in one-second time interval.</h5>
      <hr>
      <input class="btn btn-primary" type="button" value="concatMap!" (click)="onConcatMapBtnClick()">
      <input class="form-control input" type="text" [value]="concatMapInput">
    </form>
  </section>
  <section class="">
    <form action="" class="form form-group">
      <h5><b>switchMap</b> - Display next 6 numbers to the power of 2. Click agin to reset previous stream</h5>
      <hr>
      <input class="btn btn-primary" type="button" value="switchMap!" (click)="onSwitchMapBtnClick()" #switchMapButton>
      <input class="form-control input" type="text" [value]="switchMapInput">
    </form>
  </section>
  <section class="">
    <form action="" class="form form-group">
      <h5><b>mergeMap</b> - Enter name and surname to display merged full name.</h5>
      <hr>
      <input class="form-control input merge-btn" type="text" placeholder="name" #mergeMapNameInput>
      <input class="form-control input merge-btn" type="text" placeholder="surname" #mergeMapSurnameInput>  
      <div>
        <input class="form-control input full-btn" type="text" [value]="mergeMapFullNameInput" placeholder="full name"> 
      </div>


    </form>
  </section>
</main>
    